:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Montserrat", sans-serif;
  --primary-color: #462cb2;
  --secondary-color: #272044;
  --tertiary-color: #f8f8f8;
}

body {
  font-family: var(--default-font-family);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5;
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/img/hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 96px;
  margin: 30px;
}

.hero p {
  font-size: 48px;
  line-height: 1.5;
  margin: 18px;
}

.hero a {
  color: white;
  background-color: var(--secondary-color);
  border: 3px solid white;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 16px 32px;
  display: inline-block;
  margin: 32px;
}

.hero a:hover {
  color: var(--secondary-color);
  background-color: white;
  border: 3px solid var(--secondary-color);
  text-decoration: none;
}

main h3 {
  opacity: 0.3;
  letter-spacing: 5px;
  font-family: var(--default-font-family);
  font-size: 16px;
  margin: 0;
  text-align: center;
}

main h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 56px;
}

section {
  padding: 100px 180px;
}

.why-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.why-grid-img {
  max-width: 100%;
  margin: 0 auto;
}

.why-grid h3 {
  line-height: 1;
  text-align: left;
}

.why-grid h2 {
  font-size: 40px;
  text-align: left;
  margin-bottom: 40px;
}

.why-grid p {
  opacity: 0.7;
  line-height: 2;
}

.why-grid a {
  color: var(--primary-color);
}

.places-section {
  background-color: var(--tertiary-color);
}

.places-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  background-color: white;
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-header img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.card-header .embed {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.card-body {
  padding: 30px;
}

.card-body h4 {
  font-size: 24px;
  margin: 0;
}

.card-body p {
  margin: 10px 0 15px;
  line-height: 1.5;
}

.card-body h5 {
  font-size: 20px;
  margin: 0;
}

.card-body a {
  font-size: 14px;
  letter-spacing: 3px;
  margin: 0;
  color: white;
  background-color: var(--primary-color);
  padding: 16px 32px;
  display: block;
  text-align: center;
  border: 3px solid white;
}

.card-body a:hover {
  color: var(--primary-color);
  background-color: white;
  border: 3px solid var(--primary-color);
  text-decoration: none;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("/img/footer.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 20px;
  padding: 50px;
}

footer h3 {
  font-size: 20px;
  margin: 0;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  opacity: 0.7;
  line-height: 2;
}

footer p {
  opacity: 0.7;
  line-height: 2;
}

footer a {
  color: white;
}

@media (max-width: 1024px) {
  .hero {
    padding: 80px 0;
  }

  .hero h1 {
    font-size: 58px;
    margin: 18px;
  }

  .hero p {
    font-size: 29px;
    margin: 12px;
  }

  .hero a {
    font-size: 10px;
    margin: 16px;
    padding: 12px 24px;
  }

  section {
    padding: 50px;
  }

  main h3 {
    letter-spacing: 3px;
    font-size: 12px;
  }

  main h2 {
    font-size: 36px;
  }

  .why-grid h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .why-grid,
  .places-grid,
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 50px;
  }
}
